.body
{
    background-color: rgb(56, 56, 56);
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.hero
{
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px black;
    flex: 1;
}

.footer
{
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px black;
    flex: 1;
}

.container1
{
    display: flex;
    background-color: rgb(56, 56, 56);
    color: white;
    text-shadow: 1px 1px black;
    padding: 20px 300px 20px 300px;
    align-items: center;
    justify-content: space-between;
}

.text
{
    font-size: x-large;
}

.subtext
{
    font-size: large;
    font-weight: 300;
}

.sign-up-button
{
    background-color: rgb(167, 165, 165);
    text-shadow: 1px 1px black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.header
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logoimage
{
    height: 100px;
    width: auto;
    display: flex;
    margin: 8px;
    padding: 8px;
}

.listorg
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 20px;
    background-color: rgb(167, 165, 165);
    text-shadow: 1px 1px black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
}

.ul
{
    display: flex;
}

.catpic1
{
    height: 400px;
    width: 400px;
    
}

.container-main
{
    display: block;
}

.container-img
{
    display: block;
}

.cats-title
{
    font-size: xx-large;
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
}

.cats-pics
{
    display: flex;
    gap: 100px;
    justify-content: center;
    
    
}

.cats-resize
{
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}

.container2
{
    background-color: rgb(165, 167, 166);
    display: flex;
    flex-direction: column;
}

.cats-roles
{
    font-size: large;
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 300px 10px 300px;
}

.container3
{
    display: flex;
    background-color: rgb(207, 207, 207);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px 250px 10px 250px;
    
}

.quote
{
    color: rgb(73, 73, 73);
    text-shadow: 1px 1px rgb(255, 255, 255);
    font-size: xx-large;
}

.author
{
    float: right;
    font-size: 32px;
    font-weight: bolder;
    color: black;
}







